.btn-meu{
    width: 139px;
    height: 45px;
    left: 1135px;
    top: 56px;
    background-color: orangered;
    border-radius: 25px 25px 25px 25px;
    border: none;
    color: white;
}
.logo{
    padding-bottom: 4px ;
    margin-right: 8px;
   
}
.btn-meu-2{
    width: 60px;
    height: 35px;
    background-color: #ff4500;
    border-radius: 25px 25px 25px 25px;
    border: none;
    color: white;
}
.bg-orange{
    background-color: rgba(255, 68, 0, 0.411);
    width: 95%;
    padding: 0 5%;
    margin: 0;
    font-weight: bold;
    margin-left: -10px;
}
.fs-meu{
    font-size: 0.9rem;
}

.caixa{
    background-color: #6161613f;
    display: flexbox;
    height: 80%;
    width: 10%;
   
}

.foto{
    margin-top: -2rem;
}